<template>
    <div class="navbar">
        <img class="logo" src="@/assets/img/LW-logo.svg">
        <nav>
          <nuxt-link class="link" to="/">Deelnemers</nuxt-link> |
          <nuxt-link class="link" to="/addPhoto">Foto toevoegen</nuxt-link> |
          <nuxt-link class="link" to="/addParticipant">Deelnemer toevoegen</nuxt-link>
        </nav>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>
    .navbar{
        display:flex;
        justify-content: space-between;
        align-items: center;

        padding: 10px;

        background-color: rgb(243, 168, 59);
    }

    .logo{
        width: 35px;
    }

    .link{
        text-decoration: none;
        color: black;
    }
</style>