<template>
    <div class="part-card">
        <nuxt-link style="text-decoration: none; color: inherit;" :to="`/participant/${participant.id}`" >  
            <h1>{{participant.naam}}</h1>
        </nuxt-link>
        <h2>{{participant.afdeling}}</h2>
        <button @click="deleteMe">Verwijder</button>
    </div>
</template>

<script>
export default {
    props:{
        participant: Object
    },
    methods:{
        deleteMe(){
            this.$emit('delete', this.participant.id);
        }
    }
}
</script>

<style scoped>
    .part-card{
        width: 1000px;

        border: 3px solid rgb(243, 168, 59);
        border-left-width: 10px;
        border-radius: 5px;

        margin-bottom: 15px;
        padding-left: 15px;
    }

    h1{
        color: rgb(243, 168, 59);
        font-size: 32px;
    }

    h2{
        font-size: 20px;
    }

</style>