body{
    background: rgb(231,231,231);
}

#__nuxt{
    background-image: url('@/assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background:#fff;

    position: relative;
    
    margin-top:100px;
    padding: 15px;
    width: 1000px;
}

button{
    color: #fff;
    background-color: rgb(243, 168, 59);

    border:none;

    font-size: 16px;

    margin-bottom: 10px;
    padding: 5px 10px;
    width: fit-content;

    cursor:pointer;
}