<template>
<div class="wrapper">
    <div class="card">
        <h1>{{participant.naam}}</h1>
        <h2>{{participant.afdeling}}</h2>
        <p>{{participant.tekst}}</p>
        <img v-bind:src="participant.img"/>
    </div>
</div>
</template>

<script>
import ParticipantsService from '@/services/ParticipantsService.js';

export default {      
    async asyncData({route}){      
        const id = route.params.id;
        let participant = {};
        await ParticipantsService.getParticipant(id).then((data=>{
            participant = data;
        }));  
        return {
            participant
        }
    }
}
</script>

<style scoped>
.card{
    position: relative;
}

img{
    position: absolute;
    top: 15px;
    right: 15px;
    max-height: 200px;
}

p{
    width:600px;
}
</style>
