<template>
    <div class="wrapper">
        <div class="card">
            <h1>Deelnemer toevoegen</h1>
            <div class="form-group">
                <label>Naam</label>
                <input v-model="name">
            </div>
            <div class="form-group">
                <label>Afdeling</label>
                <input v-model="department">
            </div>
            <span class="error">{{error}}</span>
            <button @click="addParticipant">Verstuur</button>
        </div>      
    </div>
</template>

<script>
    import ParticipantsService from '@/services/ParticipantsService.js'

    export default {
        asyncData(){
            return{
                name: "",
                department: "",
                error: ""
            }
        },
        methods:{
            addParticipant(){
                this.error = "";
                if(this.name != "" || this.department != ""){
                    ParticipantsService.addParticipant(this.name, this.department).then((resp)=>{
                        this.$router.push("/");
                    });
                }else{
                    this.error = "Vul alle velden in";
        
                }
            }
        }
    }
</script>

<style scoped>
    label,
    input {
        display: inline-block;
        width: 250px;
    }

    .form-group{
        display: flex;
        flex-direction: column;
    }

    .error{
        color: red;
    }
</style>