<template>
<div class="wrapper">
    <div class="card">
        <h1>Foto toevoegen</h1>
        <select v-model="selectedId">
            <option disabled value="">Kies een deelnemer</option>
            <option v-for="participant in participants" :key="participant.id" v-bind:value="participant.id">{{participant.naam}}</option>
        </select>
        <vue-dropzone ref="dropzone" id="dropzone" :options="dropzoneOptions" v-on:vdropzone-sending="sendingEvent"></vue-dropzone>
    </div>
</div>
</template>

<script>
import ParticipantsService from '@/services/ParticipantsService.js'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
  components: {
    vueDropzone: vue2Dropzone
  },
  async asyncData() {
    let participants = [];
    await ParticipantsService.getParticipants()
      .then(response => {
        participants = response.data;
     })
     .catch(error => {
         console.error(error);
     })
    return {
      dropzoneOptions: {
          url: 'https://dump.lwdev.nl/vue-cursus-api/uploadFoto/upload.php',
          thumbnailWidth: 150,
          maxFilesize: 0.5
      },
        participants,
      selectedId: ""
    }
  },
  methods: {
    sendingEvent (file, xhr, formData) {
      formData.append('id', this.selectedId);
    }
  }
}
</script>