<template>
<div class="participant-list">
    <div class="participant-wrapper">
        <div class="search">
            <h1>Zoek deelnemer</h1>
            <input type="text" v-model="query"/>
        </div>  
        <ParticipantCard v-for="participant in filteredParticipants" :key="participant.id" :participant="participant" v-on:delete="deleteParticipant"/>
    </div>
</div>
</template>

<script>
import ParticipantsService from '@/services/ParticipantsService.js'

export default {
  async asyncData(){
  let participants = [];
    await ParticipantsService.getParticipants()
    .then(response => {
      participants = response.data;
    })
    .catch(error => {
      console.error(error);
    })
    return {
      participants,
      query:""
    }
 },
methods:{
    deleteParticipant(id){
        this.participants = this.participants.filter(p => p.id != id);
    }
},
 computed:{
     filteredParticipants: function () {
      return this.participants.filter(p => p.naam.toLowerCase().includes(this.query.toLowerCase()));
    }
 }
}
</script>

<style scoped>
    .participant-list{
        margin-top: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .participant-wrapper{
        padding: 30px;
        min-width: 1088px;

        background-color: #fff;

        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .search{
        margin-bottom: 15px;
    }

    input{
        width: 100%;
        height: 30px;
        font-size: 25px;
    }
</style>
